/**************/
* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  margin: 2rem;
}

.wrapper .cart-label, .wrapper .main-row main .main-account .acount-number {
  color: gray;
  font-weight: 800;
  font-size: 14px;
}

.wrapper .main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main-row main {
  background-color: reds;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.wrapper .main-row main .main-account {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-row main .main-account h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.wrapper .main-row main .main-account .acount-number {
  font-size: 1.2rem;
  display: block;
  margin: 5rem 0s;
}

.wrapper .main-row main .main-account .acount-number span {
  padding: 0 0.5rem;
  color: #fb9c0c;
  font-size: 1.3rem;
}

.wrapper .main-row main .main-account .btn-wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main-row main .main-account .btn-wapper button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 1rem;
  font-weight: 800;
  background-color: #f2f3f7;
  margin: 2rem 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.wrapper .main-row main .main-account .btn-wapper button:hover {
  background-color: gray;
  color: white;
}

.wrapper .main-row main .main-account .btn-wapper .btn-primary {
  background-color: #fb9c0c;
  margin-right: 1rem;
  color: white;
}

.wrapper .main-row main .available-funds {
  text-align: right;
}

.wrapper .main-row main .available-funds h2 {
  font-size: 3rem;
}

.wrapper .main-row .marketing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.wrapper .main-row .marketing h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper .main-row .marketing h3 {
  margin: 1rem 0;
}

.wrapper .main-row .marketing h3:nth-child(3) li {
  color: #fb9c0c;
}

.wrapper .main-row .marketing h3:nth-child(5) {
  color: #fb9c0c;
}

.wrapper .main-row .marketing h3:nth-child(5) li {
  color: #fb9c0c;
}

.wrapper .main-row .marketing h3 li {
  padding-right: 0.5rem;
}

.wrapper .services-row {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .services-row .service {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .services-row .service .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin: 1rem 0;
}

.wrapper .services-row .service .service-item:nth-child(odd) li {
  background-color: #ffebcc;
  color: #fb9c0c;
}

.wrapper .services-row .service .service-item:nth-child(even) li {
  background-color: #d3d3d3;
  color: black;
}

.wrapper .services-row .service .service-item li {
  font-size: 2rem;
  margin-right: 1.5rem;
  border-radius: 8px;
  background-color: #ffebcc;
  color: #fb9c0c;
  padding: 1rem;
  display: block;
}

.wrapper .services-row .service-info {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media (max-width: 750px) {
  .wrapper .main-row {
    display: block;
  }
  .wrapper .main-row main {
    margin: 0;
    margin-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main-row main .main-account .btn-wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .main-row main .main-account .btn-wapper button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
    margin: 1rem 0;
  }
  .wrapper .main-row main .available-funds {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: left;
    margin-bottom: 2rem;
  }
  .wrapper .services-row {
    display: block;
  }
  .wrapper .services-row .service {
    margin: 2rem 0;
  }
  .wrapper .services-row .service .service-item .service-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper .services-row .service-info {
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}
/*# sourceMappingURL=style.css.map */