//vars
$primaryColor: #fb9c0c;
$secendaryColor: #f2f3f7;
//mixins
@mixin cardBox {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

/**************/

* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  .cart-label {
    color: gray;
    font-weight: 800;
    font-size: 14px;
  }
  margin: 2rem;
  .main-row {
    display: flex;
    main {
      background-color: reds;
      display: flex;
      margin-right: 3rem;
      @include cardBox();
      flex: 4;
      .main-account {
        flex: 1;
        h2 {
          margin: 1rem 0;
          font-size: 1.5rem;
        }
        .acount-number {
          @extend .cart-label;
          font-size: 1.2rem;
          display: block;
          margin: 5rem 0s;
          span {
            padding: 0 0.5rem;
            color: $primaryColor;
            font-size: 1.3rem;
          }
        }

        .btn-wapper {
          display: flex;
          button {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            outline: none;
            padding: 1rem;
            font-weight: 800;
            background-color: $secendaryColor;
            margin: 2rem 0;
            transition-duration: 0.5s;
            &:hover {
              background-color: gray;
              color: white;
            }
          }
          .btn-primary {
            background-color: $primaryColor;
            margin-right: 1rem;
            color: white;
          }
          .btn-secendary {
          }
        }
      }
      .available-funds {
        text-align: right;
        h2 {
          font-size: 3rem;
        }
      }
    }
    .marketing {
      flex: 1;
      @include cardBox();
      h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      h3 {
        &:nth-child(3) {
          li {
            color: $primaryColor;
          }
        }
        &:nth-child(5) {
          color: $primaryColor;
          li {
            color: $primaryColor;
          }
        }
        margin: 1rem 0;
        li {
          padding-right: 0.5rem;
        }
      }
    }
  }
  .services-row {
    margin-top: 2rem;
    display: flex;
    .service {
      @include cardBox();
      margin-right: 2rem;
      flex: 1;

      .service-item {
        &:nth-child(odd) {
          li {
            background-color: #ffebcc;
            color: $primaryColor;
          }
        }
        &:nth-child(even) {
          li {
            background-color: #d3d3d3;
            color: black;
          }
        }
        display: flex;
        justify-items: center;
        margin: 1rem 0;
        li {
          font-size: 2rem;
          margin-right: 1.5rem;
          border-radius: 8px;
          background-color: #ffebcc;
          color: $primaryColor;
          padding: 1rem;
          display: block;
        }
        .service-name {
        }
      }
    }
    .service-info {
      flex: 3;
      .received {
        margin-bottom: 2rem;
        display: flex;
        .total-reseved {
          @include cardBox();
          flex: 3;

          margin-right: 2rem;
          display: flex;
          .total {
            flex: 2;
            h2 {
              font-size: 3rem;
              margin-bottom: 1rem;
            }
            span {
              border-radius: 20px;
              font-weight: 800;
              background-color: #ffebcc;
              color: $primaryColor;
              padding: 0.25rem;
              display: inline-block;
            }
          }
          .fund-state {
            padding: 1rem;
            flex: 1;
            align-self: flex-start;
            li {
              color: $primaryColor;
              font-weight: 600;
            }
            span {
              display: block;
              font-weight: 600;
              text-align: center;
            }
          }
        }
        .charts {
          flex: 2;
          @include cardBox();
        }
      }
      .received-info {
        @include cardBox();
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .wrapper {
    .main-row {
      display: block;
      main {
        margin: 0;
        margin-bottom: 2rem;
        flex-direction: column;
        .main-account {
          .btn-wapper {
            display: flex;
            flex-direction: column;
            button {
              flex: 1;
              display: block;
              margin: 1rem 0;
            }
          }
        }
        .available-funds {
          order: -1;
          text-align: left;
          margin-bottom: 2rem;
        }
      }
    }
    .services-row {
      display: block;
      .service {
        margin: 2rem 0;

        .service-item {
          .service-name {
            flex: 1;
          }
        }
      }
      .service-info {
        .received {
          display: block;
          .total-reseved {
            margin-right: 0rem;
            margin-bottom: 2rem;
          }
          .charts {
          }
        }
        .received-info {
          margin-top: 0rem;
        }
      }
    }
  }
}
